/* ----------------- who_we_are_section Section ------------------- */
#who_we_are_section {
    padding: 5rem 0px 3rem;
}

#who_we_are_section img {
    max-width: 75%;
    height: auto;
}

/* -sm- bootstrap size */
@media screen and (max-width: 767.98px) {
    /* #who_we_are_section img {
      max-width: 100%;
  } */
}

/* ----------------- .end who_we_are_section Section ------------------- */
/* ----------------- who_we_are_en_section Section ------------------- */
#who_we_are_en_section {
    position: relative;
    padding: 0rem 0px 5rem;
}

#who_we_are_en_section img.img-who-we-are {
    max-width: 65%;
    height: auto;
}

#who_we_are_en_section .content-gray-box {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 50%;
    height: fit-content;
    float: right;
    padding: 3rem 3rem 1.5rem 3rem;
    background-color: #f2efea;
}

/* -md- bootstrap size */
@media screen and (max-width: 991.98px) {
    #who_we_are_en_section {
        padding: 3rem 0px 8rem;
    }
}

/* -md- bootstrap size */
@media screen and (max-width: 767.98px) {
    #who_we_are_en_section {
        padding: 0rem 0px 5rem;
    }
}

/* ----------------- .end who_we_are_en_section Section ------------------- */
/* ----------------- what_we_do_section Section ------------------- */
#what_we_do_section {
    position: relative;
    background-color: #f2efea;
    padding: 5rem 0px 6rem;
}

#what_we_do_section .icon {
    max-width: 50px;
    height: auto;
    display: block;
    margin: 2rem auto 0px auto;
}

#what_we_do_section img.what-we-do-img {
    border-radius: 30px;
}

/* -md- bootstrap size */
@media screen and (max-width: 991.98px) {
    #what_we_do_section {
        padding: 3rem 0px 5rem;
    }

    #what_we_do_section img.what-we-do-img {
        border-radius: 20px;
    }
}

@media screen and (max-width: 479.9px) {
  #what_we_do_section img.what-we-do-img {
      border-radius: 10px;
  }
}

/* ----------------- .end what_we_do_section Section ------------------- */
