/* ----------------- contact_title_section Section ------------------- */
#contact_title_section {
  position: relative;
  padding: 5rem 0px 4rem;
}

/* -md- bootstrap size */
@media screen and (max-width: 767.98px) {
  #contact_title_section {
    padding: 4.5rem 0px 2.5rem;
  }
}
/* ----------------- .end contact_title_section Section ------------------- */
/* ----------------- contact_content_section Section ------------------- */
#contact_content_section {
  position: relative;
  padding: 4rem 0px 3rem;
  background-color: #f2efea;
}

#contact_content_section img {
  display: block;
  margin: 0px auto;
  max-width: 50px;
}
/* ----------------- .end contact_content_section Section ------------------- */
/* ----------------- contact_section Section ------------------- */
#contact_section {
  position: relative;
  padding: 5rem 1.5rem;
}

/* -md- bootstrap size */
@media screen and (max-width: 767.98px) {
  #contact_section {
    padding: 3rem 1.5rem;
  }
}
/* ----------------- .end contact_section Section ------------------- */
