/* ----------------- how_you_can_help_section Section ------------------- */
#how_you_can_help_section {
    margin: 5rem 0px;
}

#how_you_can_help_section .content-text {
    width: 60%;
}

/* -sm- bootstrap size */
@media screen and (max-width: 767.98px) {
    #how_you_can_help_section {
        margin: 3rem 0px 2rem;
    }

    #how_you_can_help_section .content-text {
        width: 100%;
    }
}

/* -sm- bootstrap size */
@media screen and (max-width: 575.98px) {
    #how_you_can_help_section .content-title {
        font-size: 2rem;
    }
}

/* ----------------- .end how_you_can_help_section Section ------------------- */
/* ----------------- acc-num-th Section ------------------- */
.acc-num-th {
    position: relative;
    padding: 5rem 0px 5rem;
    background-color: #f2efea;
}

.acc-num-th .help-us-box-img img {
    position: absolute;
    width: auto;
    height: calc(150% + 10rem);
    top: -5.5rem;
    right: auto;
    bottom: 0;
    left: 0;
}

.acc-num-th .help-us-box-text img {
    display: block;
    margin: 0px auto;
    max-width: 60px;
}

.acc-num-th .background-mobile-1 {
  position: relative;
  /* background-image: url('../../images/photo-19.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  min-height: 100px;
  width: 100vw;
  height: 0;
  padding-top: calc(1269 / 3427 * 100vw);
  /* (img-height / img-width * container-width) */
  /* (853 / 1280 * 100) */
  color: rgba(0, 0, 0, 0);
  margin-bottom: 2.5rem;
}

/* -md- bootstrap size */
@media screen and (max-width: 991.98px) {
    .acc-num-th {
        padding: 0rem 0px 3rem;
    }
}

/* ----------------- .end acc-num-th Section ------------------- */
/* ----------------- text_pure_section Section ------------------- */
#text_pure_section {
    position: relative;
    background-color: white;
    padding: 5rem 0px;
}

/* -md- bootstrap size */
@media screen and (max-width: 991.98px) {
  #text_pure_section {
      padding: 3rem 0px 2.5rem;
  }
}

/* ----------------- .end text_pure_section Section ------------------- */
/* ----------------- acc-num-en Section ------------------- */
.acc-num-en {
    position: relative;
    padding: 3rem 0px 5rem;
    background-color: #f2efea;
}

.acc-num-en .help-us-box-img img {
    position: absolute;
    width: auto;
    height: calc(130% + 8rem);
    top: -5.5rem;
    right: 0;
    bottom: 0;
    left: auto;
}

.acc-num-en .help-us-box-text img {
    display: block;
    margin: 0px auto;
    max-width: 50px;
}

.acc-num-en .background-mobile-2 {
    position: relative;
    /* background-image: url('../../images/photo-20.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    min-height: 100px;
    width: 100vw;
    height: 0;
    padding-top: calc(1269 / 3427 * 100vw);
    /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
    color: rgba(0, 0, 0, 0);
    margin-bottom: 2.5rem;
}

/* -sm- bootstrap size */
@media screen and (max-width: 991.98px) {
    .acc-num-en {
        padding: 0rem 0px 3rem;
    }
}

/* ----------------- .end acc-num-en Section ------------------- */
/* ----------------- form_donate_section Section ------------------- */
#form_donate_section {
    position: relative;
    padding: 5rem 0px;
    max-width: 768px;
    display: block;
    margin: auto;
}

/* -md- bootstrap size */
@media screen and (max-width: 991.98px) {
  #form_donate_section {
      padding: 3rem 0px;
  }
}

/* ----------------- .end form_donate_section Section ------------------- */
