/* ----------------- banner_section ------------------- */
#banner_section {
    /* background-image: url('../../images/cover-home.jpg'); */
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vw;
    margin-top: 0px !important;
    min-height: 500px;
    max-height: 800px;
}

.text-section {
    display: block;
    color: white !important;
    padding-top: calc(50% - 15em);
}

.text-topic {
    font-family: 'Prompt-Bold', sans-serif;
    font-size: 2.5em;
}

.text-sub-topic {
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 1.2em;
}

.donation-float-btn {
  position: relative;
  background-color: black;
  padding: 1rem 1.5rem 0px 1.5rem;
  margin-left: 1rem;
  margin: 0px;
  width: fit-content;
}

.donation-float-btn a img {
  max-width: 25px;
  max-height: 25px;
  float: left;
}

.donation-float-btn a .donate-text {
  margin-left: .3rem;
  color: white;
  transition: .5s;
}

.donation-float-btn:hover a .donate-text {
  color: #ffb300 !important;
}

.donation-float-btn.active a .donate-text {
  color: #ffb300 !important;
}

.donation-float-btn a .donate-text .donate-sm {
  font-size: .5rem;
}

.donation-float-btn a .donate-text .donate-md {
  font-family: 'Prompt-Medium', sans-serif;
  margin-top: -1.1rem;
  font-size: .9rem;
}

/* -lg- bootstrap size */
@media screen and (max-width: 1199.98px) {
  .text-section {
      padding-top: calc(50% - 10em);
  }
}

/* -md- bootstrap size */
@media screen and (max-width: 991.98px) {
  .text-section {
      padding-top: calc(50% - 6.5em);
  }
}

/* -sm- bootstrap size */
@media screen and (max-width: 767.98px) {
  .text-section {
      padding-top: calc(50% - 6em);
  }
}

/* -xs- bootstrap size */
@media screen and (max-width: 575.98px) {
  .text-section {
      padding-top: calc(35%);
  }

  .text-topic {
      font-size: 2em;
  }
}

/* -xxs- custom size */
@media screen and (max-width: 479.98px) {
  .text-section {
      padding-top: calc(50%);
  }
}

/* -xxs- custom size */
@media screen and (max-width: 374.98px) {
  .text-section {
      padding-top: calc(60%);
  }
}

/* ----------------- .end banner_section ------------------- */
/* ----------------- card-float Section ------------------- */
#card_float {
    position: absolute;
    top: -200px;
    z-index: 3;
}

.card-float {
    border-radius: 3rem;
    padding: 2.5rem 2rem 1.8rem 2rem;
    margin: 1rem 0px;
    text-align: center;
    height: auto;
    transition: .5s;
}

.card-float:hover {
    transform: translate(-.15em, -.15em);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
}

.card-float img {
    max-width: 100px;
}

.card-float .card-float-title {
    font-size: 1.5em;
    padding: 2em 0px 1.3em 0px;
}

.card-float .card-float-read-more {
    font-size: .8em;
    color: white !important;
    transition: .3s;
}

.card-float:hover .card-float-read-more {
    color: #333 !important;
}

@media screen and (max-width: 1199.98px) {
    .card-float {
        height: 390px;
    }

    .title-about {
      font-size: 1.75rem;
    }
}

@media screen and (max-width: 991.98px) {
    .card-float {
        height: auto;
    }

    .title-about {
      font-size: 2rem;
    }
}

@media screen and (max-width: 767.98px) {
    #help_us .img-left {
        width: 100%;
    }

    .title-about {
      font-size: 3rem;
    }
}

@media screen and (max-width: 575.98px) {
  .title-about {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 479.98px) {
  .title-about {
    font-size: 1.65rem;
  }
}

/* ----------------- .end card-float Section ------------------- */
/* ----------------- about_us Section ------------------- */
#about_us {
    position: relative;
    background-color: #f2efea;
}

#about_us img.grapic-divider {
    position: absolute;
    z-index: 2;
    top: -80px;
}

.about-us-content {
    padding: 300px 0px 100px 0px;
}

@media screen and (max-width: 1199.98px) {
  #about_us img.grapic-divider {
      top: -20px;
  }

  #about_us img.grapic-divider {
      top: -80px;
  }
}

@media screen and (max-width: 991.98px) {
    .about-us-content {
        padding: 670px 0px 100px 0px;
    }

    #about_us img.grapic-divider {
        top: -60px;
    }
}

@media screen and (max-width: 767.98px) {
  .about-us-content {
      padding: 70px 0px 100px 0px;
  }

  .about-us-content img.icon {
      position: absolute;
      top: 2rem;
      right: 5rem;
  }

  #about_us img.grapic-divider {
      top: -40px;
  }
}

@media screen and (max-width: 575.98px) {
  .about-us-content img.icon {
      right: 3rem;
  }

  #about_us img.grapic-divider {
      top: -20px;
  }
}

@media screen and (max-width: 319.98px) {
  .about-us-content img.icon {
      display: none;
  }
}

/* ----------------- .end about us Section ------------------- */
/* ----------------- help_us Section ------------------- */
#help_us {
    padding: 5em 0px;
    position: relative;
    background-color: white;
}

#help_us .help-us-box {
    background-color: #f2efea;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    padding: 1.8rem;
    z-index: 99;
}

#help_us .help-us-box img {
    display: block;
    margin: 0px auto;
    max-width: 50px;
}

#help_us .img-left {
    max-width: 55%;
    max-height: 55vw;
    position: absolute;
    display: block;
    margin: auto auto auto 0px;
    float: left;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 1199.98px) {}

@media screen and (max-width: 991.98px) {
    #help_us .img-left {
        width: 70%;
    }
}

@media screen and (max-width: 767.98px) {
    #help_us .img-left {
        width: 100%;
    }

    #help_us {
        padding: 0em 0px;
        margin: -3rem 0px 0px;
        background-color: #f2efea;
    }
}

@media screen and (max-width: 575.98px) {}

/* ----------------- .end help us Section ------------------- */
/* ----------------- img divider Section ------------------- */
#img_divider {
    position: relative;
    z-index: 0;
}

/* Graphic bottom */
#img_divider img:nth-child(1) {
    width: 100%;
    top: calc(100% - 60px);
    position: absolute;
}

/* Image house */
#img_divider img:nth-child(2) {
    width: 100%;
}

@media screen and (max-width: 1199.98px) {
  /* Graphic bottom */
  #img_divider img:nth-child(1) {
      top: calc(100% - 40px);
  }
}

@media screen and (max-width: 767.98px) {
  /* Graphic bottom */
  #img_divider img:nth-child(1) {
      top: calc(100% - 20px);
  }
}

/* ----------------- .end img divider Section ------------------- */
/* ----------------- news_activity Section ------------------- */
#news_activity {
    margin-top: 150px;
    padding: 5px 0rem 5rem 0rem;
    z-index: 99;
}

.card-news-acts {
  position: relative;
}

.card-news-acts .img-news {
    position: relative;
}

.card-news-acts .img-news .news-date {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  max-width: 70px;
  width: 100%;
}

.card-news-acts .img-news .news-date-num {
    padding: 5px auto;
    font-family: 'Prompt-Medium', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00bdc1;
}

.card-news-acts .img-news .news-date-month {
    padding: 20px auto !important;
    font-size: .8rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #ffb300;
}

.card-news-acts .news-detail {
    margin-top: 2rem;
}

.card-news-acts .news-detail .news-date {
    max-width: 65px;
    width: 100%;
}

.card-news-acts .news-detail .news-date .news-date-num {
    padding: 5px auto;
    font-family: 'Prompt-Medium', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00bdc1;
}

.card-news-acts .news-detail .news-date .news-date-month {
    padding: 20px auto;
    font-size: .7rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #ffb300;
}

.card-news-acts .news-detail .news-text {
    width: auto;
    padding: 0px 0px 0px 1.5rem;
}

.card-news-acts .news-detail .news-text .news-text-by {
    font-size: .8rem;
    text-align: left;
    color: #808080;
}

.card-news-acts .news-detail .news-text .news-text-detail {
    font-family: 'Prompt-Medium', sans-serif;
    font-size: .9rem;
    text-align: left;
    line-height: 1.5rem;
    color: black;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-news-acts .news-detail .news-text .news-text-link {
    font-size: .8rem;
    text-align: left;
    color: #808080;
    transition: .5s;
}

.card-news-acts .news-detail .news-text .news-text-link:hover {
    font-family: 'Prompt-Medium', sans-serif;
    color: black;
}

@media screen and (max-width: 1199.98px) {
  #news_activity {
      margin-top: 150px;
      padding: 5px 0rem 5rem 0rem;
  }
}

@media screen and (max-width: 991.98px) {
  #news_activity {
      margin-top: 80px;
  }
}

@media screen and (max-width: 767.98px) {
  .card-news-acts .news-detail .news-text {
      padding: 0rem 0px 1.5rem 0rem;
      margin-top: -.5rem;
  }
}

@media screen and (max-width: 575.98px) {
  #news_activity {
      margin-top: 50px;
  }
}

@media screen and (max-width: 394.98px) {
  #news_activity .content-title {
    font-size: 1.6rem;
  }

  .card-news-acts .img-news .news-date {
    bottom: 1rem;
    left: 1rem;
  }
}
/* ----------------- .end news_activity Section ------------------- */
