/* ----------------- title_section Section ------------------- */
#title_section {
    position: relative;
    padding: 5rem 0px 0rem;
}

/* ----------------- .end title_section Section ------------------- */
/* ----------------- news_list_section Section ------------------- */
#news_list_section {
    position: relative;
    padding: 0px 25px 3rem;
    margin: 0px auto 3rem auto;
    max-width: 768px;
}

.card-news-acts {
    padding: 2rem 0px;
}

.card-news-acts .img-news {
    position: relative;
}

.card-news-acts .img-news .news-date {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    max-width: 70px;
    width: 100%;
}

.card-news-acts .img-news .news-date-num {
    padding: 5px auto;
    font-family: 'Prompt-Medium', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00bdc1;
}

.card-news-acts .img-news .news-date-month {
    padding: 20px auto !important;
    font-size: .8rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #ffb300;
}

.card-news-acts .news-detail {
    margin-top: 2rem;
    position: relative;
}

.card-news-acts .news-detail .news-date {
    min-width: 65px;
    max-width: 65px;
    width: 100%;
}

.card-news-acts .news-detail .news-date .news-date-num {
    padding: 5px auto;
    font-family: 'Prompt-Medium', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00bdc1;
}

.card-news-acts .news-detail .news-date .news-date-month {
    padding: 20px auto;
    font-size: .7rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #ffb300;
}

.card-news-acts .news-detail .news-text {
    width: auto;
    padding: 0px 0px 0px 1.5rem;
}

.card-news-acts .news-detail .news-text .news-text-by {
    font-family: 'Prompt-Regular', sans-serif;
    font-size: .8rem;
    text-align: left;
    color: #808080;
}

.card-news-acts .news-detail .news-text .news-text-title {
    font-family: 'Prompt-SemiBold', sans-serif;
    font-size: .9rem;
    text-align: left;
    max-width: 100%;
    line-height: 1.5rem;
    padding: 0rem 0px;
    margin-top: -.5rem;
    color: black !important;
}

@media screen and (max-width: 767.98px) {
    .card-news-acts .news-detail .news-text {
        padding: 0rem 0px 0rem 0rem;
        margin-top: -.5rem;
    }
}

@media screen and (max-width: 575.98px) {
    #news_activity {
        margin-top: 50px;
    }
}

@media screen and (max-width: 394.98px) {
    #news_activity .content-title {
        font-size: 1.6rem;
    }

    .card-news-acts .img-news .news-date {
        bottom: 1rem;
        left: 1rem;
    }
}

/* ----------------- .end  news_list_section Section ------------------- */
/* ------------------------------------ Masonry plugin CSS -------------------------------------- */
.grid {
    /* max-width: 69em; */
    list-style: none;
    margin: 30px auto;
    padding: 0;
}

.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: calc(100% / 2);
    opacity: 0;
}

.grid li a img {
    transition: .3s;
    cursor: zoom-in;
}

.grid li:hover a img {
    filter: brightness(.6);
}

@media screen and (max-width: 991.98px) {
    .grid li {
        width: calc(100% / 2);
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {
    .grid li {
        width: 100%;
        padding: 5px;
    }
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
    opacity: 1;
}

.grid li a,
.grid li img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
}

/* Effect 3: Scale up */
.grid.effect-3 li.animate {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
    0% {}

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {}

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
