/* ----------------- title_section Section ------------------- */
#title_section {
    position: relative;
    padding: 5rem 0px 0rem;
}

/* ----------------- .end title_section Section ------------------- */
/* ----------------- news_list_section Section ------------------- */
#news_list_section {
    position: relative;
    padding: 0px 25px 3rem;
    margin: 0px auto 3rem auto;
    /* max-width: 768px; */
}

.card-news-acts {
    padding: 2rem 0px;
}

.card-news-acts .img-news {
    position: relative;
}

.card-news-acts .img-news .news-date {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    max-width: 70px;
    width: 100%;
}

.card-news-acts .img-news .news-date-num {
    padding: 5px auto;
    font-family: 'Prompt-Medium', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00bdc1;
}

.card-news-acts .img-news .news-date-month {
    padding: 20px auto !important;
    font-size: .8rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #ffb300;
}

.card-news-acts .news-detail {
    margin-top: 2rem;
    position: relative;
}

.card-news-acts .news-detail .news-date {
    min-width: 65px;
    max-width: 65px;
    width: 100%;
}

.card-news-acts .news-detail .news-date .news-date-num {
    padding: 5px auto;
    font-family: 'Prompt-Medium', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00bdc1;
}

.card-news-acts .news-detail .news-date .news-date-month {
    padding: 20px auto;
    font-size: .7rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #ffb300;
}

.card-news-acts .news-detail .news-text {
    width: auto;
    padding: 0px 0px 0px 1rem;
}

.card-news-acts .news-detail .news-text .news-text-by {
    font-family: 'Prompt-Regular', sans-serif;
    font-size: .8rem;
    text-align: left;
    color: #808080;
}

.card-news-acts .news-detail .news-text .news-text-title {
    font-family: 'Prompt-SemiBold', sans-serif;
    font-size: .9rem;
    text-align: left;
    max-width: 100%;
    padding: 0rem 0px;
    margin-top: -.8rem;
    color: black !important;
    line-height: 2rem;
    max-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-news-acts .news-text-detail {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 2rem;
}

.card-news-acts .news-detail .news-text .news-text-link a {
    font-size: .8rem;
    text-align: left;
    color: #808080;
    transition: .5s;
}

.card-news-acts .news-detail .news-text .news-text-link a:hover {
    font-family: 'Prompt-Medium', sans-serif;
    color: black;
}

@media screen and (max-width: 767.98px) {
    .card-news-acts .news-detail .news-text {
        padding: 0rem 0px 0rem 0rem;
        margin-top: -.5rem;
    }
}

@media screen and (max-width: 575.98px) {
    #news_activity {
        margin-top: 50px;
    }
}

@media screen and (max-width: 394.98px) {
    #news_activity .content-title {
        font-size: 1.6rem;
    }

    .card-news-acts .img-news .news-date {
        bottom: 1rem;
        left: 1rem;
    }
}

/* ---- Pagination ---- */
.news-pagination {
    margin-top: 4rem;
}

.news-pagination .pagination .pagination-btn {
    padding: .2rem 1rem;
    border: 1.5px solid #999;
    font-size: .8rem;
    transition: .3s;
}

.news-pagination .pagination .pagination-btn:hover {
    background-color: none;
}

.news-pagination .pagination .pagination-btn.active:hover {
    background-color: #ffb300;
    border-color: #ffb300;
}

.news-pagination .pagination .pagination-btn:first-child {
    margin-right: .5rem;
}

.news-pagination .pagination .pagination-btn:last-child {
    margin-left: .1rem;
}

.news-pagination .pagination .pagination-btn i.fas {
    color: #808080;
}

.news-pagination .pagination .pagination-number {
    padding: .2rem 1rem;
    border: 1.5px solid #999;
    font-size: .8rem;
    color: #808080;
    transition: .3s;
}

/* .news-pagination .pagination .pagination-number:la {
  margin-left: 1rem;
  border: 2px solid red;
} */
.news-pagination .pagination .pagination-number:hover {
    background-color: #ffb300;
    border-color: #ffb300;
    color: white;
}

.news-pagination .pagination .pagination-number.active {
    background-color: #ffb300;
    border-color: #ffb300;
    color: white;
}

/* ----------------- .end  news_list_section Section ------------------- */
