/* Promt */
@font-face {
  font-family: 'Prompt-Black';
  src: url('../font/Prompt/Prompt-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-BlackItalic';
  src: url('../font/Prompt/Prompt-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-Bold';
  src: url('../font/Prompt/Prompt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-BoldItalic';
  src: url('../font/Prompt/Prompt-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-ExtraBold';
  src: url('../font/Prompt/Prompt-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-ExtraBoldItalic';
  src: url('../font/Prompt/Prompt-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-ExtraLight';
  src: url('../font/Prompt/Prompt-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-ExtraLightItalic';
  src: url('../font/Prompt/Prompt-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-Italic';
  src: url('../font/Prompt/Prompt-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-Light';
  src: url('../font/Prompt/Prompt-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-LightItalic';
  src: url('../font/Prompt/Prompt-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-Medium';
  src: url('../font/Prompt/Prompt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-MediumItalic';
  src: url('../font/Prompt/Prompt-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-Regular';
  src: url('../font/Prompt/Prompt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-SemiBold';
  src: url('../font/Prompt/Prompt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-SemiBoldItalic';
  src: url('../font/Prompt/Prompt-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-Thin';
  src: url('../font/Prompt/Prompt-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt-ThinItalic';
  src: url('../font/Prompt/Prompt-ThinItalic.ttf') format('truetype');
}
