@font-face {
    font-family: 'Prompt-Black';
    src: url('../font/Prompt/subset-Prompt-Black.eot');
    src: url('../font/Prompt/subset-Prompt-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-Black.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-Black.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-Black.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-Black.svg#Prompt-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url('../font/Prompt/subset-Prompt-Bold.eot');
    src: url('../font/Prompt/subset-Prompt-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-Bold.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-Bold.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-Bold.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-Bold.svg#Prompt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-BlackItalic';
    src: url('../font/Prompt/subset-Prompt-BlackItalic.eot');
    src: url('../font/Prompt/subset-Prompt-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-BlackItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-BlackItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-BlackItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-BlackItalic.svg#Prompt-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-BoldItalic';
    src: url('../font/Prompt/subset-Prompt-BoldItalic.eot');
    src: url('../font/Prompt/subset-Prompt-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-BoldItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-BoldItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-BoldItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-BoldItalic.svg#Prompt-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-ExtraBold';
    src: url('../font/Prompt/subset-Prompt-ExtraBold.eot');
    src: url('../font/Prompt/subset-Prompt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-ExtraBold.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-ExtraBold.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-ExtraBold.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-ExtraBold.svg#Prompt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-ExtraBoldItalic';
    src: url('../font/Prompt/subset-Prompt-ExtraBoldItalic.eot');
    src: url('../font/Prompt/subset-Prompt-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-ExtraBoldItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-ExtraBoldItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-ExtraBoldItalic.svg#Prompt-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-ExtraLight';
    src: url('../font/Prompt/subset-Prompt-ExtraLight.eot');
    src: url('../font/Prompt/subset-Prompt-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-ExtraLight.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-ExtraLight.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-ExtraLight.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-ExtraLight.svg#Prompt-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-ExtraLightItalic';
    src: url('../font/Prompt/subset-Prompt-ExtraLightItalic.eot');
    src: url('../font/Prompt/subset-Prompt-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-ExtraLightItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-ExtraLightItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-ExtraLightItalic.svg#Prompt-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-Italic';
    src: url('../font/Prompt/subset-Prompt-Italic.eot');
    src: url('../font/Prompt/subset-Prompt-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-Italic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-Italic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-Italic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-Italic.svg#Prompt-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-Light';
    src: url('../font/Prompt/subset-Prompt-Light.eot');
    src: url('../font/Prompt/subset-Prompt-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-Light.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-Light.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-Light.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-Light.svg#Prompt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-LightItalic';
    src: url('../font/Prompt/subset-Prompt-LightItalic.eot');
    src: url('../font/Prompt/subset-Prompt-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-LightItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-LightItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-LightItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-LightItalic.svg#Prompt-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-Medium';
    src: url('../font/Prompt/subset-Prompt-Medium.eot');
    src: url('../font/Prompt/subset-Prompt-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-Medium.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-Medium.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-Medium.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-Medium.svg#Prompt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-MediumItalic';
    src: url('../font/Prompt/subset-Prompt-MediumItalic.eot');
    src: url('../font/Prompt/subset-Prompt-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-MediumItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-MediumItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-MediumItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-MediumItalic.svg#Prompt-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-Regular';
    src: url('../font/Prompt/subset-Prompt-Regular.eot');
    src: url('../font/Prompt/subset-Prompt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-Regular.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-Regular.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-Regular.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-Regular.svg#Prompt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-SemiBold';
    src: url('../font/Prompt/subset-Prompt-SemiBold.eot');
    src: url('../font/Prompt/subset-Prompt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-SemiBold.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-SemiBold.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-SemiBold.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-SemiBold.svg#Prompt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-SemiBoldItalic';
    src: url('../font/Prompt/subset-Prompt-SemiBoldItalic.eot');
    src: url('../font/Prompt/subset-Prompt-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-SemiBoldItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-SemiBoldItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-SemiBoldItalic.svg#Prompt-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-Thin';
    src: url('../font/Prompt/subset-Prompt-Thin.eot');
    src: url('../font/Prompt/subset-Prompt-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-Thin.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-Thin.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-Thin.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-Thin.svg#Prompt-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt-ThinItalic';
    src: url('../font/Prompt/subset-Prompt-ThinItalic.eot');
    src: url('../font/Prompt/subset-Prompt-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Prompt/subset-Prompt-ThinItalic.woff2') format('woff2'),
        url('../font/Prompt/subset-Prompt-ThinItalic.woff') format('woff'),
        url('../font/Prompt/subset-Prompt-ThinItalic.ttf') format('truetype'),
        url('../font/Prompt/subset-Prompt-ThinItalic.svg#Prompt-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
