footer {
    background-color: #1a191f;
    padding: 4rem 0px;
    color: white !important;
}

footer p.acc-text-1 {
    font-size: .85rem;
}

footer p.acc-text-2 {
    margin-top: -12px;
    font-size: 1rem;
}

footer p.acc-text-3 {
    margin-top: -12px;
    font-size: 1.5rem;
    padding-bottom: 0px;
}

footer p.acc-text-2-sm {
    margin-top: -12px;
    font-size: 1.2rem;
}

footer .acc-num-box {
    margin-top: 1.5rem;
}

footer .line-divider {
    max-height: 1.5px;
    background-color: white;
    margin: 1rem 0px 2rem;
    color: rgba(0, 0, 0, 0);
}

footer .acc-num {
    border-radius: .4rem 0px 0px .4rem;
    background-color: #ffb300;
    font-family: 'Prompt-Medium', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1rem;
    padding: .5rem 1rem;
    height: fit-content;
}

footer .logo {
    border-radius: 0px .4rem .4rem 0px;
    background-color: white;
    padding: .5rem 1rem .77rem;
    height: fit-content;
}

footer .logo img {
    height: 30px;
}

footer .phone-number img {
    height: 20px;
    width: 20px;
    max-height: 20px;
    max-width: 20px;
}

footer #link-footer div a {
    color: #939393;
    font-size: .82rem;
    transition: .5s;
}

footer #link-footer div a:hover {
    color: white;
    font-size: .85rem;
}

footer #link-footer div.first-link {
    color: white;
    font-size: 1.1rem;
}

footer .contact-item img {
    height: 30px;
    margin: auto 0px;
}

footer .footer-contact p.content-white-title-bold-md {
    margin: auto 0px 1rem;
    padding-left: 0px;
}

footer .footer-contact .contact-item p a {
    color: white;
    transition: .3s;
}

footer .footer-contact .contact-item:hover p a {
    color: #ffb300;
}

footer .contact-item p {
    margin: auto 0px;
    line-height: 1rem;
}

footer .footer-link {
    padding: 0rem 0px 0px 15px;
}

footer .footer-link#link-footer div.link {
    padding: .3rem 10px 0px !important;
}

footer .footer-contact {
    position: relative;
    padding: 0rem 0px 0px 15px;
}

/* -xl- bootstrap size */
@media screen and (max-width: 1599.98px) {
    footer .logo img {
        height: 28.5px;
    }
}

/* -lg- bootstrap size */
@media screen and (max-width: 1199.98px) {
    footer .footer-link#link-footer div.link {
        margin-top: .5rem;
    }

    footer .logo img {
        height: 27.5px;
    }
}

/* -md- bootstrap size */
@media screen and (max-width: 991.98px) {
    footer .footer-link#link-footer div:nth-child(2) {
        margin-top: .3rem;
    }

    footer .footer-link#link-footer div.link {
        padding: .5rem 15px 0px !important;
        line-height: 1.5rem;
    }

    footer .contact-item p {
        font-size: .8rem;
        line-height: 1.5rem;
    }
}

/* -md- bootstrap size */
@media screen and (max-width: 767.98px) {
    footer .footer-link#link-footer div.link {
        padding: .5rem 15px 0px !important;
        line-height: 1.5rem;
    }

    footer .footer-link {
        padding: 0rem 0px;
    }

    footer .footer-contact {
        padding: 0rem 15px;
    }

    footer .acc-num-box .acc-num {
        border-radius: .2rem 0px 0px .2rem;
        font-size: 1.4rem;
        padding: .5rem 1rem;
    }

    footer .logo img {
        height: 30px;
    }

    footer .acc-num-box .logo {
        border-radius: 0rem .2rem .2rem 0rem;
        padding: .6rem 1rem .6rem;
    }

    footer .acc-num-box {
        margin-top: -.5rem;
        padding: 0rem 0rem 1.5rem 2rem !important;
    }
}

/* -xs- bootstrap size */
@media screen and (max-width: 575.98px) {
    footer .acc-num-box {
        margin-top: -1rem;
        padding: 1rem 0rem 1.5rem 2rem !important;
    }

    footer .logo img {
        height: 30px;
    }

    footer .acc-num {
        font-size: 1.1rem;
        padding: .3rem .6rem;
    }

    footer .logo {
        padding: .55rem .6rem .75rem;
    }
}

@media screen and (max-width: 500px) {
    footer .acc-num-box {
        margin-top: -1.2rem;
    }
}

@media screen and (max-width: 395px) {
    footer .logo img {
        height: 30px;
    }

    footer .acc-num {
        font-size: 1.1rem;
        padding: .3rem .6rem;
    }

    footer .logo {
        padding: .55rem .6rem .75rem;
    }
}

/* Back to top style ----------------------------------------------------------- */
#back2Top {
    width: 50px;
    height: 50px;
    /* line-height: 60px; */
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    /* Mit edit */
    padding: 10px 0px 0px 0px;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    border: 1px solid #ffb300;
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.16);
    background-color: rgba(255, 255, 255, 1);
    /* .end Mit edit */
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    transition: .4s;
}

#back2Top:hover {
    background-color: #FAFAFA;
    color: #ffb300;
}

.w3-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* .end - Back to top style ---------------------------------------------------- */
