a.disabled-link {
    pointer-events: none;
    cursor: not-allowed;
}

a {
    text-decoration: none !important;
}

.red-box {
    border: 1px solid red;
    z-index: 100;
}

.blue-box {
    border: 1px solid blue;
    z-index: 100;
}

.green-box {
    border: 1px solid green;
    z-index: 100;
}

.yellow-box {
    border: 1px solid yellow;
    z-index: 100;
}

/* Global font family & font size */
html, body {
    font-family: 'Prompt-Regular', sans-serif;
    font-size: 18px;
    background-color: #fefefe !important;
}

@media only screen and (max-width: 1919px) {
    html {
        font-size: 17.5px !important;
    }
}

@media only screen and (max-width: 1599px) {
    html {
        font-size: 17px !important;
    }
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 16.5px !important;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 16px !important;
    }
}

p {
    font-size: 1.35rem;
    line-height: 1.3;
}

/* .container {
  max-width: 992px;
} */
.text-yellow {
    color: #ffb300 !important;
}

.text-bold {
    font-family: 'Prompt-Bold', sans-serif;
}

.text-on-image {
    position: absolute;
    color: black;
    font-size: 3rem;
    top: calc(50% - 1.5rem);
}

p, button, div, h1, h2, h3, h4, h5, h6 {
    letter-spacing: .02rem !important;
}

.bg-yellow {
    background-color: #ffb300 !important;
    color: white !important;
}

.bg-purple {
    background-color: #932ba8;
    color: white;
}

.bg-lightblue {
    background-color: #00bdc1;
    color: white;
}

/* ----------------- banner-section ------------------- */
#banner_section {
    position: relative;
    /* background-image: url('../images/cover-2.jpg'); */
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 55px;
    min-height: 400px;
    max-height: 500px;
}

.content-float {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    max-width: fit-content;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
}

.content-float img {
    height: 70px;
}

.content-float .banner-title {
    font-family: 'Prompt-Medium', sans-serif;
    color: white;
    font-size: 2.5rem;
}

/* -xs- bootstrap size */
@media screen and (max-width: 575.98px) {
    #banner_section {
        background-position: left center;
        background-image: url('../images/cover-3.jpg');
        min-height: 400px;
    }

    .content-float .banner-title {
        font-size: 2.2rem;
    }
}

/* #banner_section img.banner-img {
  width: 100%;
  height: auto;
} */
ol {
    justify-content: center;
    padding-inline-start: 0px;
}

ol li.breadcrumb-item, li.breadcrumb-item.active {
    font-size: .8rem;
    text-align: center;
    background: none;
}

ol li.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

ol li.breadcrumb-item a {
    font-size: .8rem;
    color: white !important;
    transition: .5s;
}

ol li.breadcrumb-item a:hover {
    color: #ffb300 !important;
}

ol li.breadcrumb-item.active {
    font-size: .8rem;
    color: #ffb300 !important;
}

/* ----------------- .end banner-section ------------------- */
/* ------------------------- Global CSS ------------------------- */
.content-text {
    color: #808080;
    font-size: .85em;
    line-height: 1.5em;
}

.content-text-bold {
    font-family: 'Prompt-SemiBold', sans-serif;
    color: #808080;
    font-size: .9em;
    line-height: 1.5em;
}

.content-title {
    font-family: 'Prompt-SemiBold', sans-serif;
    color: #2c2a35;
    font-size: 1.95em;
}

.content-title-bold {
    font-family: 'Prompt-Bold', sans-serif;
    color: #2c2a35;
    font-size: 2em;
}

.content-read-more-btn {
    width: fit-content;
    block-size: fit-content;
}

.content-read-more-btn a {
    background-color: #ffb300;
    padding: .6rem 1rem .5rem;
    color: white !important;
    font-size: .6em;
    width: fit-content;
    block-size: fit-content;
    transition: .3s;
}

.content-read-more-btn a:hover {
    color: #2c2a35 !important;
}

.content-see-gallery-btn {
    width: fit-content;
    block-size: fit-content;
    margin: 0px auto;
}

.content-see-gallery-btn a {
    background-color: #00bdc1;
    padding: .6rem 2rem .7rem;
    color: white !important;
    font-size: .6em;
    width: fit-content;
    block-size: fit-content;
    transition: .3s;
}

.content-see-gallery-btn a:hover {
    color: #2c2a35 !important;
}

.content-white-title-bold-lg {
    font-family: 'Prompt-Medium', sans-serif;
    color: white !important;
    font-size: 1.45rem;
}

.content-white-text {
    color: white !important;
    font-size: 1rem;
}

.content-white-text-sm {
    color: white !important;
    font-size: .8rem;
    line-height: 1.3rem !important;
    text-align: left;
}

.content-white-title-bold-md {
    font-family: 'Prompt-Medium', sans-serif;
    color: white !important;
    font-size: 1.1rem;
}

.bg-gray {
    background-color: #c7c7c7 !important;
}

.btn-custom {
    color: white !important;
    background-color: #00bdc1;
    padding: .5rem 1.3rem .3rem;
    transition: .35s;
}

.btn-custom:hover {
    color: #2c2a35 !important;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.gray-line-devider {
    max-height: 1.5px;
    background-color: #c7c7c7 !important;
    color: rgba(0, 0, 0, 0);
    width: 100%;
    margin: 2.5rem 0px;
}

.animate-top {
    position: relative;
    animation: animatetop 0.4s
}

td.active.available {
    background-color: #f0a800 !important;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* ------------- Override bootstrap CSS --------------- */
.btn {
    border-radius: 0px;
}

.form-check-input:checked~.form-check-label::before {
    color: #808080 !important;
    border-color: #c7c7c7 !important;
}

.form-check-input:checked~.form-check-label.gray::before {
    background-color: #c7c7c7 !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #808080 !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #808080 !important;
}

/* .container {
  padding-left: 15px;
  padding-right: 15px;
} */
@media screen and (max-width: 767.98px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
