/* ----------------------------------------------------------Start navbar */
nav.navbar#navbar-float {
  font-family: 'Prompt-Regular', sans-serif;
  color: white !important;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  margin: 2rem auto auto auto;
  padding: 0px !important;
  display: block;
  width: 100%;
  max-width: 1110px;
  min-height: 55px;
}

#navbar-float .navbar-brand {
  font-family: 'Prompt-Medium', sans-serif;
  font-size: .85rem;
  position: relative;
  padding-left: 2rem;
  z-index: 2;
  color: white;
}

#navbar-float .navbar-brand:hover {
  color: black !important;
}

#navbar-float .navbar-brand img {
  margin-top: -65px !important;
  height: 125px !important;
  width: 125px !important;
}

#navbar-float .navbar-nav .nav-item {
  padding: 0px 10px 0px 10px !important;
}

#navbar-float .navbar-nav .nav-item .nav-link {
  color: white !important;
  font-family: 'Prompt-Regular', sans-serif;
  font-size: .75rem;
  transition: .3s;
}

#navbar-float .navbar-nav .nav-item .nav-link:hover {
  color: black !important;
}

#navbar-float .navbar-nav .nav-item .nav-link.active {
  color: black !important;
}

#navbar-float .navbar-light .container .navbar-toggler {
  color: white;
  border: none;
}

#navbar-float .navbar-nav {
  color: black;
  margin-top: 5px !important;
  padding: 50px auto;
}

#navbar-float .donation-dark-btn {
  position: relative;
  background-color: black;
  padding: 1rem 1.5rem 0px 1.5rem;
  margin-left: 1rem;
  margin: 0px;
}

#navbar-float .donation-dark-btn a img {
  max-width: 25px;
  max-height: 25px;
  float: left;
}

#navbar-float .donation-dark-btn a .donate-text {
  margin-left: .3rem;
  color: white;
  transition: .5s;
}

#navbar-float .donation-dark-btn:hover a .donate-text {
  color: #ffb300 !important;
}

#navbar-float .donation-dark-btn.active a .donate-text {
  color: #ffb300 !important;
}

#navbar-float .donation-dark-btn a .donate-text .donate-sm {
  font-size: .5rem;
}

#navbar-float .donation-dark-btn a .donate-text .donate-md {
  font-family: 'Prompt-Medium', sans-serif;
  margin-top: -1.1rem;
  font-size: .9rem;
}

#navbar-float button:focus {
  outline: 0;
}

@media screen and (max-width: 1199.98px) {
  nav.navbar#navbar-float  {
    width: calc(100% - 2rem);
    max-width: 993px;
  }

  #navbar-float .navbar-nav {
    margin-top: -80px;
  }

  #navbar-float .navbar-nav .nav-item {
    padding: 2px;
  }

  /* ลดขนาดตัวหนังสือ Dropdown ในไซส์ 1200px ลงมาเพราะตกบรรทัด */
  #navbar-float .navbar-nav .nav-item .nav-link {
    font-size: .75rem;
  }

  #navbar-float .topnav-logo {
    width: 80px;
    margin: 32px 16px 12px 16px;
  }
}

@media screen and (max-width: 991.98px) {
  #navbar-float .navbar-nav .nav-item .nav-link.active::after {
    border-bottom: none;
  }

  #navbar-float .navbar-nav .nav-item .nav-link:hover {
    color: black !important;
    background-color: white;
  }

  #navbar-float .navbar-nav .nav-item {
    padding: 2px 20px;
  }

  #navbar-float .navbar-nav .nav-item .nav-link {
    /* font-size: 1.1rem; */
  }

  #navbar-float .navbar-brand {
    margin-top: .8rem;
    font-size: .7rem;
  }

  #navbar-float .navbar-nav .nav-item .nav-link {
    padding: .7rem 3rem .7rem;
  }
}

@media screen and (max-width: 575.98px) {
  #navbar-float .navbar-brand {
    padding-left: 1rem;
  }

  #navbar-float .navbar-nav .nav-item {
    padding: 1px 20px;
  }

  #navbar-float .navbar-nav .nav-item .nav-link {
    padding: .7rem 2rem .7rem;
  }
}

#navbar-float .navbar-top {
  background-color: rgba(13, 93, 58, 1);
}

#navbar-float .topnav-logo {
  width: 80px;
  margin: 32px 16px 16px 16px;
}

#navbar-float .nav-item {
  position: relative;
}

/* ------------------------------------------------------------End navbar */
/* Icon 1 */
#navbar-float .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin-top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#navbar-float .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#navbar-float .animated-icon3 span {
  background: white;
}

#navbar-float .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#navbar-float .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#navbar-float .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#navbar-float .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

#navbar-float .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#navbar-float .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/* ------------------------------------------.end Responsive Top bar */
