/* ----------------------------------------------------------Start navbar */
nav.navbar {
  font-family: 'Prompt-Regular', sans-serif;
  color: #2c2a35 !important;
  font-size: .7rem !important;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  padding: 0px !important;
  display: block;
  min-height: 55px;
}

.navbar-brand {
  font-family: 'Prompt-Medium', sans-serif;
  font-size: .85rem;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  max-height: 50px;
  color: #2c2a35;
  transition: .5s;
  /* height: auto; */
}

.navbar-brand:hover {
  color: #ffb300 !important;
}

.navbar-brand img {
  margin-top: -65px !important;
  height: 125px !important;
  width: 125px !important;
}

.navbar-nav .nav-item {
  padding: 0px 8px 0px 8px !important;
}

.navbar-nav .nav-item .nav-link {
  color: #2c2a35 !important;
  font-family: 'Prompt-Medium',sans-serif;
  font-size: .8rem;
  transition: .5s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffb300 !important;
}

.navbar-nav .nav-item .nav-link.active {
  color: #ffb300 !important;
}

.navbar-light .container .navbar-toggler {
  color: white;
  border: none;
}

.navbar-nav {
  color: black;
  margin-top: 0px !important;
  padding: 50px auto;
}

.donation-light-btn {
  position: relative;
  background-color: #ffb300;
  padding: 1rem 1.5rem 0px;
  margin-left: 1rem;
}

.donation-light-btn a img {
  max-width: 25px;
  max-height: 25px;
  float: left;
}

.donation-light-btn a .donate-text {
  margin-left: .3rem;
  color: white;
  transition: .5s;
}

.donation-light-btn:hover a .donate-text {
  color: #2c2a35 !important;
}

.donation-light-btn.active a .donate-text {
  color: #2c2a35 !important;
}

.donation-light-btn a .donate-text .donate-sm {
  font-size: .5rem;
}

.donation-light-btn a .donate-text .donate-md {
  font-family: 'Prompt-Medium', sans-serif;
  margin-top: -1.1rem;
  font-size: .9rem;
}

button:focus {
  outline: 0;
}

@media screen and (max-width: 1199.98px) {
  .navbar-nav {
    margin-top: -80px;
  }

  .navbar-nav .nav-item {
    padding: 2px;
  }

  /* ลดขนาดตัวหนังสือ Dropdown ในไซส์ 1200px ลงมาเพราะตกบรรทัด */
  .navbar-nav .nav-item .nav-link {
    font-size: .85rem;
  }

  .topnav-logo {
    width: 80px;
    margin: 32px 16px 12px 16px;
  }
}

@media screen and (max-width: 991.98px) {
  .navbar-nav .nav-item .nav-link.active::after {
    border-bottom: none;
  }

  .navbar-nav .nav-item {
    padding: 2px 20px;
  }

  .navbar-nav .nav-item .nav-link {
    /* font-size: 1.1rem; */
  }

  .navbar-brand {
    margin-top: .7rem;
    font-size: .75rem;
    padding-left: 1rem;
  }

  .navbar-nav .nav-item .nav-link {
    padding: .7rem 3rem .7rem;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: black !important;
    background-color: #ffb300;
  }
}

@media screen and (max-width: 575.98px) {
  .navbar-nav .nav-item {
    padding: 1px 20px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: .7rem 2rem .7rem;
  }
}

.navbar-top {
  background-color: rgba(13, 93, 58, 1);
}

.topnav-logo {
  width: 80px;
  margin: 32px 16px 16px 16px;
}

.nav-item {
  position: relative;
}

/* ------------------------------------------------------------End navbar */
/* Icon 1 */
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin-top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon3 span {
  background: #adadad;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/* ------------------------------------------.end Responsive Top bar */
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem) -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Other styles for the page not related to the animated dropdown */
